@font-face {
    font-family: 'SimKyungha';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/heungkuk/SimKyungha.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/heungkuk/SimKyungha.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/heungkuk/SimKyungha.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/heungkuk/SimKyungha.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/heungkuk/SimKyungha.ttf') format("truetype");
    font-display: swap;
} 